<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="learning.TestComponents.Listeners"/>
	</listeners>
  <test thread-count="5" name="Submit Order Test">
    <classes>
      	<class name="learning.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validation Test">
    <classes>
    	<class name="learning.ErrorValidationTest"/>
    </classes>   
  </test> <!-- Test -->
</suite> <!-- Suite -->
